/* 统一横幅和背景的显示效果 */
#page-header {
    background-attachment: fixed !important;
    background-size: cover !important;
}

body {
    background-attachment: fixed !important;
    background-size: cover !important;
}